section.content
    margin-top 50px

footer
    background-color #101010
    height 40px
    color white

    p
        border-top 1px solid #d7e0e2


.navbar-right
    margin-top 10px

.navbar-form
    .form-group
        margin-left 10px
    button
        margin-left 10px
