.navbar-right(ng-controller="MyNavBarController")
	from.navbar-form(ng-hide="identity.isAuthenticated()")
		.form-group
			input.form-control(placeholder="Username", type="text", name="username", ng-model="username")
		.form-group
			input.form-control(placeholder="Password", type="password", name="password", ng-model="password")
		button.btn.btn-primary(type="button", name="button", ng-click="signin(username, password)") Sing in
