script(src="/vendor/jquery/dist/jquery.min.js", charset="utf-8")
script(src="/vendor/angular/angular.min.js", charset="utf-8")
script(src="/vendor/toastr/toastr.min.js", charset="utf-8")
script(src="/vendor/angular-resource/angular-resource.min.js", charset="utf-8")
script(src="/vendor/angular-route/angular-route.min.js", charset="utf-8")
script(src="/app/app.js", charset="utf-8")
script(src="/app/main/MainController.js", charset="utf-8")
script(src="/app/account/MyNavBarController.js", charset="utf-8")
script(src="/app/account/mvIdentity.js", charset="utf-8")
script(src="/app/account/mvAuth.js", charset="utf-8")
script(src="/app/common/mvNotifier.js", charset="utf-8")
