<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    link(rel="shorcut icon", href="/favicon.ico", type)
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css", media="screen", title="no title", charset="utf-8")
    link(rel="stylesheet", href="/vendor/toastr/toastr.min.css", media="screen", title="no title", charset="utf-8")
    link(rel="stylesheet", href="/css/style.css", media="screen", title="no title", charset="utf-8")
    title MEAN Application
body
    block main-content 
    include scripts
